body {
font-family: Arial;
margin:0;
}

header {
background:black;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.hero {
height:400px;
background:gray;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

section {
padding:40px;
}
